# MongoDB Atlas Connection URI Example
# Format: mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/<database>?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/trackpoint?retryWrites=true&w=majority

NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV=development
